.env
FinancialAnalysis/__pycache__
GetData/__pycache__
LLMUtils/__pycache__
NewsScraper/__pycache__
pineconeclass.py
Scraper/__pycache__
Statements/__pycache__
NewsSearch/__pycache__
Technicals/__pycache__